body {
  background-color: #d4028a;
  color: #f0db4a;
  font-family: Menlo, monospace;
  font-size: 36px;
  font-weight: 700;
}

span:not(:last-child)::after {
  content: ':';
}

p {
  font-size: 16px;
}
